<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d01b2fdd-7068-4c05-86f2-3d94ad54a16f/resourceGroups/RACER-RG/providers/Microsoft.Web/sites/RACER-Language-bot-39a9</ResourceId>
    <ResourceGroup>RACER-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://racer-language-bot-39a9.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>011bf8e5-6c91-4d05-a1cb-4ad6637da400</ProjectGuid>
    <PublishUrl>https://racer-language-bot-39a9.scm.azurewebsites.net/</PublishUrl>
    <UserName>$RACER-Language-bot-39a9</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>